@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
body{
    margin: 0;
    padding: 0;
 
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 4px solid red; */
    width: 100%;
    height: 100vh;
}
.container{
    width: 60rem;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}
.sub-container{
    background-color:hsl(31, 77%, 52%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3.2rem 3rem 3.2rem 3.2rem;
    border-radius: 1rem 0 0 1rem;
    height: 26rem;
    width: 42rem;

}
.sub-container2{
    background-color:hsl(184, 100%, 22%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3.2rem 3rem 3.2rem 3.2rem;
    /* border-radius: 1rem 0 0 1rem; */
    height: 26rem;
    width: 42rem;
}
.sub-container3{
    background-color: hsl(179, 100%, 13%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3.2rem 3rem 3.2rem 3.2rem;
    border-radius: 0 1rem 1rem 0;
    height: 26rem;
    width: 42rem;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color:  hsl(0, 0%, 95%);
    font-size: 2.8rem;
    text-transform: uppercase;
}
p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    color:hsla(0, 0%, 100%, 0.75);
    line-height: 1.8rem;
    font-weight: 400;
}
.btn{
    border:1.5px solid hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: .8rem 2.5rem;
    border-radius: 6rem;
    margin-top: 2.7rem;
    width: 11rem;
    transition: all .2s;
}
.btn:hover{
    background: transparent;
    color: #fff;
    border: 1.5px solid hsl(0, 0%, 95%);
    transition: all .2s;
}
.btn-2{
    color: hsl(184, 100%, 22%);
}
.btn-3{
    color: hsl(179, 100%, 13%);
}
@media (min-width:550px) and (max-width:1060px) {
    .main-container{
        height: 130rem;
        /* border: 2px solid red; */
    }
    .container{
        display: flex;
        flex-direction: column;
        /* margin-top: 70rem; */
        /* margin-left: .5rem;  */
        width: auto;
        /* margin-bottom: 40rem; */
        /* border: 2px solid red; */
    
        
    }
    .sub-container{
        width: 25rem;
        height: 30rem;
        background-color:hsl(31, 77%, 52%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 3.2rem 3rem 4rem 3.2rem;
        border-radius: 1rem 1rem 0 0;
        
    }
    .sub-container2{
        width: 25rem;
        height: 30rem;
        background-color:hsl(184, 100%, 22%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 3.2rem 3rem 4rem 3.2rem;
        border-radius: 0rem 0rem 0 0;

    }
    .sub-container3{
        width: 25rem;
        height: 30rem;
        background-color:hsl(179, 100%, 13%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 3.2rem 3rem 4rem 3.2rem;
        border-radius: 0 0 1rem 1rem;

    }
    img{
        width: 5rem;
    }
    h1{
        font-size: 4rem;
    }
    p{
        font-size: 1.5rem;
        line-height: 2.2rem;
        width: 90%;
        margin-top: -1rem;
    }
    .btn{
        font-size: 1.3rem;
        padding: 1rem 4rem;
        width: auto;
        /* margin-bottom: 5rem; */
    }
    
}
@media (min-width:310px) and (max-width:549px){
    .main-container{
        height: 110rem;
        width: auto;
        /* border: 2px solid red; */
    }
    .container{
        display: flex;
        flex-direction: column;
        /* margin-top: rem; */
        /* margin-left: 5rem;  */
        width: auto;
        /* margin-bottom: 40rem; */
        /* border: 2px solid chartreuse; */
    
        
    }
    .sub-container{
        width: 12rem;
        height: 25rem;
        background-color:hsl(31, 77%, 52%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 3.2rem 3rem 3rem 2.6rem;
        border-radius: 1rem 1rem 0 0;
        
    }
    .sub-container2{
        width: 12rem;
        height: 25rem;
        background-color:hsl(184, 100%, 22%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 3.2rem 3rem 3rem 2.6rem;
        border-radius: 0rem 0rem 0 0;

    }
    .sub-container3{
        width: 12rem;
        height: 25rem;
        background-color:hsl(179, 100%, 13%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 3.2rem 3rem 3rem 2.6rem;
        border-radius: 0 0 1rem 1rem;

    }
    img{
        width: 4rem;
    }
    h1{
        font-size: 2.4rem;
        margin-bottom: 1.2rem;
    }
    p{
        font-size: 1.2rem;
        line-height: 1.6rem;
        width: 95%;
        /* margin-top: -1rem; */
        /* text-align: left; */
    }
    .btn{
        font-size: 1rem;
        padding: .5rem 2rem;
        width: auto;
        margin-top: .3rem;
    }
}
@media (min-width:0px) and (max-width:309px){
    .main-container{
        height: 110rem;
        width: auto;
        /* border: 2px solid red; */
    }
    .container{
        display: flex;
        flex-direction: column;
        /* margin-top: rem; */
        /* margin-left: 5rem;  */
        width: auto;
        /* margin-bottom: 40rem; */
        /* border: 2px solid chartreuse; */
    
        
    }
    .sub-container{
        width: 10rem;
        height: 25rem;
        background-color:hsl(31, 77%, 52%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 3.2rem 3rem 3rem 2.6rem;
        border-radius: 1rem 1rem 0 0;
        
    }
    .sub-container2{
        width: 10rem;
        height: 25rem;
        background-color:hsl(184, 100%, 22%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 3.2rem 3rem 3rem 2.6rem;
        border-radius: 0rem 0rem 0 0;

    }
    .sub-container3{
        width: 10rem;
        height: 25rem;
        background-color:hsl(179, 100%, 13%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 3.2rem 3rem 3rem 2.6rem;
        border-radius: 0 0 1rem 1rem;

    }
    img{
        width: 4rem;
    }
    h1{
        font-size: 2.4rem;
        margin-bottom: 1.2rem;
    }
    p{
        font-size: 1.1rem;
        line-height: 1.4rem;
        width: 95%;
        /* margin-top: -1rem; */
        text-align: left;
    }
    .btn{
        font-size: 1rem;
        padding: .5rem 2rem;
        width: auto;
        margin-top: .3rem;
    }
}